<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Weather</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
</head>

<body>
    <h1>{{ title }} Weather</h1>
    <form action="/weather">
        <input type="text" id="city" name="city" placeholder="Enter city name">
        <button type="submit" id="search-btn">Search</button>
    </form>
    <section class="weather-container">
        <div id="weather-data">
            <img src={{ icon }} alt="Weather Icon" class="weather-icon">
            <div class="temperature">{{ temp }}&deg;C</div>
            <div class="description">{{ decription }}</div>
            <div class="details">
                <span>Feels Like: {{ feel }}°C</span>
                <span>Min Temp: {{ mintemp }}°C</span>
                <span>Max Temp: {{ maxtemp }}°C</span>
                <span>Pressure: {{ press }} hPa</span>
                <span>Humidity: {{ humid }}%</span>
                <span>Visibility: {{ visi }} meters</span>
                <span>Wind Speed: {{ wspeed }} m/s</span>
                <span>Wind Direction: {{ wdir }}°</span>
            </div>
        </div>
    </section>
</body>

</html>